<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a><br />
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet> -->
<kendo-appbar position="top">
  <kendo-appbar-section>
    <h1>Example Kendo</h1>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>
  <kendo-appbar-section>
    <a routerLink="/dashboard">Dashboard</a>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section>
    <a href="">Sign Up</a>
    <a href="">Sign In</a>
  </kendo-appbar-section>
</kendo-appbar>
<h1>Grid table</h1>
<p>
  <kendo-dropdownlist
    [data]="dropDownItems"
    [defaultItem]="defaultItem"
    textField="text"
    valueField="value"
    (valueChange)="handleFilterChange($event)"
  >
  </kendo-dropdownlist>
</p>

<kendo-grid
  [data]="gridItems"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  (pageChange)="pageChange($event)"
  [sortable]="true"
  [sort]="sortDescriptor"
  (sortChange)="handleSortChange($event)"
  [height]="400"
>
  <kendo-grid-column field="ProductID" title="Id" [width]="50">
  </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Product Name">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category">
  </kendo-grid-column>
  <kendo-grid-column
    field="UnitPrice"
    title="Unit Price"
    [width]="140"
    format="{0:c}"
  >
  </kendo-grid-column>
  <kendo-grid-column field="Discontinued" [width]="140" filter="boolean">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<div style="margin-top: 10px">
  <h1>Button</h1>
  <button kendoButton icon="folder" look="outline">Outline Button</button>
  <button kendoButton icon="folder" look="clear">Clear Button</button>
  <button kendoButton icon="folder" look="flat">Flat Button</button>
  <button
    kendoButton
    icon="folder"
    look="outline"
    [toggleable]="true"
    [primary]="true"
  >
    Primary Toggle Button
  </button>
</div>

<div>
  <h1>Chart</h1>
  <kendo-chart [title]="chartTitle" renderAs="canvas">
    <!-- Chart column name  -->
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
        [categories]="['Mon', 'Tue', 'Wed', 'Thu']"
      >
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <!-- Chart Item value -->
    <kendo-chart-series>
      <kendo-chart-series-item
        [data]="[1, 5, 10, 35]"
        name="Jack"
        [labels]="seriesLabels"
      >
      </kendo-chart-series-item>
      <kendo-chart-series-item
        [data]="[5, 7, 10, 20]"
        type="line"
        name="Darblue"
      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
